@import url('https://fonts.googleapis.com/css?family=Mukta:700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mukta', sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  /* background: linear-gradient(rgb(47,150,163), rgb(48,62,143)); */
}

